$icon-font-path: '../../fonts/';
$red:#cd1626;
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@font-face {
  font-family: 'icomoon';
  src: url(../fonts/icomoon.eot?r42fvi);
  src: url(../fonts/icomoon.eot?r42fvi#iefix) format('embedded-opentype'), url(../fonts/icomoon.ttf?r42fvi) format('truetype'), url(../fonts/icomoon.woff?r42fvi) format('woff'), url(../fonts/icomoon.svg?r42fvi#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-flower:before {
  content: "\e900";
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  a {
    color:#000;
    text-decoration: underline;
    &:hover {
      color:#000;
    }
  }
}

.qrcode {width:35%;height: 35%;}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing,
.village,
.intro {
  margin: 0;
  p + h4 {
    margin-top: 28px;
  }
  &.highlight {
    color:$red;
  }
}
.intro {
  margin: 20px 0;
}
.village {
  img {
    border: 1px solid #e10f02;
  }
  margin-bottom: 50px;
}
.village-detail {
  .title {
    color:$red;
  }
  .mark {
    color:$red;
    background: none;
  }
  .benefit {
    border-top: 1px solid #e5e5e5;
    &.intro {
      margin:0px;
      padding: 20px 0px;
      ul {
        li {
          padding-bottom: 10px;

        }
        .icon-flower {
          color: #cd1626;
          position: relative;
          &:before {
            position: absolute;
            left: -50px;
            top: 2px;
          }
        }
      }
      p {
        padding: 0 0 0 30px;
        .icon-flower {
          color: #cd1626;
          position: relative;
          &:before {
            position: absolute;
            left: -30px;
            top: 2px;
          }
        }
      }
    }
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 610px) {
  .container {
    max-width: 610px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
