{% extends "layout.html" %} {% block content %}
<div class="container village-detail">
  <div class="header">
    <img src="images/wechatCampaign/v1/v1_detail.jpg" alt="" class="img-responsive" />
  </div>
  <div class="row intro">
    <div class="col-lg-12">
      <!-- <h4 class="title">河谷购物村</h4> -->
      <p>距离伦敦Marylebone火车站46分钟车程，比斯特购物村坐落在美丽且历史悠久的牛津郡。这里聚集了超过130多家英国本土和国际品牌，全年低至建议零售价4折。在这里您可以享受轻松的购物体验与贴心服务，如管家停车，免提购物和私人造型师，更可在餐厅和咖啡厅享受各类美味。</p>
      <p><b class="mark">2016年1月28日至2月21日</b>，莅临比斯特购物村，享受以下特别优惠：</p>
    </div>
  </div>
  <div class="row benefit intro">
    <div class="col-lg-12 ">
      <p>
        <img src="images/wechatCampaign/v1/v1_detail_qr.jpg" alt="" class="img-responsive center-block qrcode" />
      </p>
      <p>
        <span class="icon-flower"></span><b>在游客信息中心出示上方二维码，可领取红色信封，内含Clarks, dunhill, Links of London, Marni, Paul Smith, Rupert Sanderson, Samsonite, Smythson, Zwilling等品牌优惠信息。</b></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <img src="images/wechatCampaign/v1/3.jpg" alt="" class="img-responsive" />
    </div>
  </div>
  <div class="row benefit intro">
    <div class="col-lg-12 ">
      <p>
        <span class="icon-flower"></span><b>参加幸运抽奖，有机会赢取礼品卡。</b></p>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <img src="images/wechatCampaign/v1/4.jpg" alt="" class="img-responsive" />
    </div>
  </div>
</div>
{% endblock %}
