{% extends "layout.html" %} {% block content %}
<div class="container village-detail">
  <div class="header">
    <img src="images/wechatCampaign/v2/1.jpg" alt="" class="img-responsive" />
  </div>
  <div class="row intro">
    <div class="col-lg-12">
      <!-- <h4 class="title">河谷购物村</h4> -->
      <p>距离巴黎市中心仅35分钟，距离巴黎迪士尼仅5分钟，来河谷购物村享受巴黎式的轻松购物体验。在如诗如画般的街道，您可以找到诸多法国与国际品牌─包括Armani, Diane von Furstenberg, Furla, Jimmy Choo, Moncler, Paul Smith, Sandro等，全年优惠低至建议零售价7折。购物之余，您也可到购物村的艺术馆参观展览，在餐厅和咖啡厅小憩，享受来自世界各地的美味佳肴。</p>
      <p><b class="mark">2016年1月30日至2月21日</b>，莅临河谷购物村，享受以下特别优惠：</p>
    </div>
  </div>

  <div class="row benefit intro">
    <div class="col-lg-12 ">
      <p>
        <span class="icon-flower"></span><b>Shopping Express<sup>®</sup>豪华购物大巴特别优惠</b></p>
    </div>
  </div>
  <div class="row benefit intro">
    <div class="col-lg-12 ">
      <p>
        <img src="images/wechatCampaign/v1/v1_detail_qr.jpg" alt="" class="img-responsive center-block qrcode" />
      </p>
      <p>
        <span class="icon-flower"></span><b>至游客信息中心出示上方二维码，领取红色信封，内含：</b></p>
        <ul style="padding-left: 3.3em;">
          <li>9折VIP卡</li>
          <li>品牌特别优惠</li>
          <li>餐饮邀请函</li>
          <li>休息室通行卡─根据使用情况提供服务</li>
        </ul>
          <img src="images/wechatCampaign/v2/2.jpg" alt="" class="img-responsive"/>
    </div>
  </div>
  <div class="row benefit intro">
    <div class="col-xs-12 ">
      <p>
        <span class="icon-flower"></span><b>部分红信封中有获奖券，可赢得100欧元河谷购物村礼品卡。</b>
      </p>
      <img src="images/wechatCampaign/v2/3.jpg" alt="" class="img-responsive"/>
    </div>
  </div>

  {% include "partials/village-bottom.html" %}

</div>
{% endblock %}
