{% extends "layout.html" %}
{% block content %}
  <div class="container village-detail">
    <div class="header">
      <img src="images/wechatCampaign/v9/1.jpg" alt="" class="img-responsive" />
    </div>
    <div class="row intro">
      <div class="col-lg-12">
        <h4 class="title">河谷购物村</h4>
        <p>比斯特购物村位于历史名城牛津郡，距离伦敦只有一小时路程，汇集了超过130多家英国本地和国际品牌的精品店。在这里您可以尽情享受全年低至4折的价格，唯一能使您从购物中分神的就是那些馨香四溢的咖啡馆和餐厅，让您在购物之余还能尽情享受本地风味的美食。</p>
        <p><b class="mark">2016年1月28日至2月21日</b>，莅临比斯特购物村， 可享受以下优惠：</p>
      </div>
    </div>
    <div class="row benefit intro">
      <div class="col-lg-12 ">
        <p><img src="images/wechatCampaign/v1/v1_detail_qr.jpg" alt="" class="img-responsive center-block" /></p>
        <p><span class="icon-flower"></span><b>至游客信息中心出示下方二维码，领取红色信封，内含 Bon point、Cath Kidston、Church's、
          Jaeger、Juicy Couture、Karen Millen、Oscar De La Renta、Wolford等品牌优惠信息</b></p>
      </div>
    </div>
    <div class="row benefit intro">
      <div class="col-lg-12 ">
        <p><span class="icon-flower"></span><b>享受“经典英式礼遇”，包括：</b></p>
        <ul>
          <li>宾员着英国传统服装迎接宾客</li>
          <li>精品下午茶店供应美味英式下午茶</li>
          <li>驻购物村造型师为您打造经典英伦造型</li>
        </ul>
      </div>
    </div>

    <div class="footer">
      <img src="images/wechatCampaign/v9/2.jpg" alt="" class="img-responsive" />
    </div>
  </div>
{% endblock %}
